body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color:darkcyan;

}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  background-image: url(./assets/headerBackground.jpg);
  background-size: cover;
}

.blankCol {
  width: 5px;
}

.card-header {
  text-align: center !important;
  background-color:skyblue !important;
}

.card {
  margin: 5px !important;
  padding: 0px !important;
}

.daily {
  min-width: 190px !important;
  padding: 0px !important;
  
}

.rainImg {
  background-color: transparent;
  background-image: url(./assets/rain.jpg);
}

.sunImg {
  background-color: transparent !important;
  background-image: url(./assets/sun.jpg) !important;
}

.snowImg {
  background-color: transparent;
  background-image: url(./assets/snowing.jpg);
}

.cloudImg {
  background-color: transparent;
  background-image: url(./assets/clouds.jpg);
}

.windImg {
  background-color: transparent !important;
  background-image: url(./assets/wind.jpg);
}

.thunderImg {
  background-color: transparent !important;
  background-image: url(./assets/thunderstorm.jpeg);
}

.fogImg {
  background-color: transparent !important;
  background-image: url(./assets/fog.jpg);
}

.fontVisibility {
  background-size: cover;
  color:black;
  text-transform: capitalize;
  text-shadow: 1px dimgray ;
}

p {
   white-space: nowrap;
};

p.card-header {
  position: fixed;
  margin: 0px;
}

#workingImage {
  position: absolute;
  margin-top: -12px;
  margin-left: -5px;
}

.dayImage {
  position: absolute;
  margin-top: -17px;
  margin-left: -5px;
}

.todayCard {
  max-width: 472px;
}

div.weatherC p {
  background-color: rgba(255, 255, 255, 0.5);

}

.searchhistoryC {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

div.searchHistoryC p {
  background-color: white;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  padding-top: 0;
  padding-bottom: 0;
  height: 25px;
  border: black solid 2px;
  text-align: center;
  position: relative;
}

#todayWeatherC p {
  background-color: rgba(255, 255, 255, 0.5);
}

div.card {
  background-color: dimgray;
  border: black solid 2px;
}

.searchButt {
  max-height: 36px !important;
  border: black solid 2px !important;
  margin-left: 0px !important;
}

.uvXTreme {
  color: violet !important;
}

.uvVBad {
  color: red !important;
}

.uvBad {
  color: orange !important;
}

.uvOK {
  color: yellow !important;
}

.uvGood {
  color: green !important;
}