body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color:darkcyan;

}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  background-image: url(./assets/headerBackground.jpg);
  background-size: cover;
}

/* Card Headers, Light Blue */
.card-header {
  text-align: center !important;
  background-color:skyblue !important;
}

/* Card Margins and Padding */
.card {
  margin: 5px !important;
  padding: 0px !important;
}

/* 5 day forecast min-width */
.daily {
  min-width: 190px !important;
  padding: 0px !important;
  
}

/* Background Rain Image */
.rainImg {
  background-color: transparent;
  background-image: url(./assets/rain.jpg);
}

/* Background Clear Skies Image */
.sunImg {
  background-color: transparent !important;
  background-image: url(./assets/sun.jpg) !important;
}

/* Background Snow Image */
.snowImg {
  background-color: transparent;
  background-image: url(./assets/snowing.jpg);
}

/* Background Cloudy Image */
.cloudImg {
  background-color: transparent;
  background-image: url(./assets/clouds.jpg);
}

/* Background Windy Image*/
.windImg {
  background-color: transparent !important;
  background-image: url(./assets/wind.jpg);
}

/* Background Thunderstorm Image */
.thunderImg {
  background-color: transparent !important;
  background-image: url(./assets/thunderstorm.jpeg);
}

/* Background *Other Conditions Image */
.fogImg {
  background-color: transparent !important;
  background-image: url(./assets/fog.jpg);
}

/* Font formatting */
.fontVisibility {
  background-size: cover;
  color:black;
  text-transform: capitalize;
  text-shadow: 1px dimgray ;
}

p {
   white-space: nowrap;
};

p.card-header {
  position: fixed;
  margin: 0px;
}

/* Positioning for weather icon on the current weather card. */
#workingImage {
  position: absolute;
  margin-top: -12px;
  margin-left: -5px;
}

/* Positioning for weather icon on the 5 day forecast cards. */
.dayImage {
  position: absolute;
  margin-top: -17px;
  margin-left: -5px;
}

/* Current weather forecast min-width */
.todayCard {
  max-width: 600px;
}

/* Background so font can be seen on card. */
div.weatherC p {
  background-color: rgba(255, 255, 255, 0.5);

}

/* HPoint on hover over previous searches */
.searchHistory:hover {
  cursor: pointer;
}

/* Search History Card Formatting */
.searchhistoryC {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

/* Search History Text Formatting */
div.searchHistoryC p {
  background-color: white;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  padding-top: 0;
  padding-bottom: 0;
  height: 25px;
  border: black solid 2px;
  text-align: center;
  position: relative;
}

/* Grey 50% transparent background for card text so user can see it on all backgrounds. */
#todayWeatherC p {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Grey background for City Search, Search History, 5 Day Forecast */
div.card {
  background-color: dimgray;
  border: black solid 2px;
}

/* Search Button */
.searchButt {
  max-height: 36px !important;
  border: black solid 2px !important;
  margin-left: 0px !important;
}

/* UV Color Changes */
.uvXTreme {
  color: violet !important;
}

.uvVBad {
  color: red !important;
}

.uvBad {
  color: orange !important;
}

.uvOK {
  color: yellow !important;
}

.uvGood {
  color: green !important;
}