body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  background-image: url(./assets/headerBackground.jpg);
  background-size: cover;
}

.blankCol {
  width: 5px;
}

.card-header {
  text-align: center !important;
}

.card {
  margin: 5px !important;
  padding: 0px !important;
}

.daily {
  min-width: 190px !important;
  padding: 0px !important;
  
}

.rainImg {
  background-image: url(./assets/rain.jpg);
  background-size: cover;
}

.sunnyImg {
  background-image: url(./assets/sun.jpg);
  background-size: cover;
}

.snowImg {
  background-image: url(./assets/snowing.jpg);
  background-size: cover;
}

.cloudImg {
  background-image: url(./assets/clouds.jpg);
  background-size: cover;
}


.windImg {
  background-image: url(./assets/wind.jpg);
  background-size: cover;
}